@import "./../lib/reset.scss";
header{
    text-align: center;
    .icons4-back {
        width: 27px;
        height: 28px;
        background-position: -213px -352px;
        background-size: 375px auto;
        margin-left: 7px;
        margin-top: 7px;
        float: left;
    }
    .icons4 {
        display: inline-block;
        vertical-align: middle;
        background-image: url(http://m.static.laiyifen.com/images/icons4.png?v=1522511693675);
        background-repeat: no-repeat;

    }
    h1{
        text-align: center;
        font-size: 18px;
        font-weight:100;
        line-height: 44px;
        margin-right:20px;
        display:inline-block;

    }
    .handle {
        position: absolute;
        top: 0;
        right: 15px;
        height: 44px;
        line-height: 44px;
        color: #333;
    }
}
.ui-container{
    width:auto;
    float:none;
    .ui-form {
        background: 0 0!important;
        margin-right: 20px;
        margin-left: 20px;
        .ui-form-item {
            height: 50px;
            line-height: 50px;
            margin-left: 0!important;
            margin-top: 35px;
            .login{
                border:0 !important;
                width:335px !important;
                height:50px !important;
                font-size:14px !important;
                padding-left: 0 !important;

            }
            
            .sms-btn {
                position: absolute;
                    top: 100px;
                    right: 20px;
                    width: 90px;
                    line-height: 1;
                    color: #ff6900;
                    font-size: 15px;
                    text-align: center;
                    padding-bottom: 3px;
                    padding-top: 3px;
                    display: inline-block;
                    border-radius: 2px;
                    border: 0;
                    background: #ff6900;
                    color: #fff;
                    height: 50px;
                    border-color: #ff6900;
            }
        }
    }
}
.submit-btn {
    margin-top: 25px;
    padding-right: 0!important;
}
.ui-form-item {
    height: 50px;
    line-height: 50px;
    margin-left: 0!important;
}   
.submit-btn .ui-btn {
    width: 100%;
    height: 50px;
    font-size: 18px;
}
.ui-btn-primary {
    background: linear-gradient(top,#ff7c20,#ff7900);
    background: -webkit-linear-gradient(top,#ff7c20,#ff7900);
    background: -moz-linear-gradient(top,#ff7c20,#ff7900);
    color: #fff!important;
    border: 0;
    color: #ddd;
}
.password{
    margin-top:2px !important;
} 
.shouji{
    margin-top:15px !important;
}
.joint-login {
    width: 200px;
    margin: 50px auto 20px;
    text-align: center;
}
.joint-login h6 {
    display: inline-block;
    position: relative;
    top: -11px;
    padding: 0 10px;
    color: #ccc;
    line-height: 1;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    background: #f0f0f0;
}
.ui-tiled {
    display: -webkit-box;
    width: 100%;
    -webkit-box-sizing: border-box;
} 
.ui-tiled li {
    -webkit-box-flex: 1;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.icon-qq {
    width: 45px;
    height: 45px;
    background-position: -286px 0;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url(http://m.static.laiyifen.com/images/icons1.png?v=1522511693675);
    background-repeat: no-repeat;
    background-size: 335px auto;
}
.link{
    font-size: 12px;
    color:#898989;
    
}
.linka{
    font-size: 12px;
    color:#898989;
    display:inline-block;
    float:right;
}
.am-input-label.am-input-label-5 {
    font-size: 14px;
    padding-left: 10px;
}
.am-list-item .am-input-control {
    font-size: 14px;
    -ms-flex: 1;
    flex: 1 1;
}