@import "./lib/reset.scss";
html,body,#root, .App{
    @include rect(100%,100%);
    @include background-color(#fff);
}
.App{
    @include flexbox();
    @include flex-direction(column);
    .container{
       @include flex();
       @include rect(100%, auto);
       @include overflow(hidden);
      .box{
          @include rect(100%,100%);
          @include flexbox();
          
          @include flex-direction(column);
          header{
            @include rect(100%, 0.44rem);
//          @include background-color(pink);
            section{
               .kindname{
                  width:30%;
                  border:1px solid #000;

                   li{
                       
                   }
               }
            }
            ul{
                @include rect(100%,100%);
                @include flexbox();
                li{
                    @include flexbox();
                    @include flex-direction();
                    @include justify-content();
                    @include align-items();
                }
                li.search{
                    @include flex();
                    @include justify-content(left);
                }
                li.leftControl,li.rightControl{
                    @include rect(0.5rem,100%)
                }
                
            }

            
          }
          .content{
              @include flex();
              @include rect(100%, auto);
              @include overflow();
              .am-list-item .am-input-extra{
                    max-height: 30px;
                    overflow: auto;
                }
                .am-button-ghost::before {
                    border: 0;
                }
          }
      }
        
    }
    footer{
        @include rect(100%, 0.5rem);
        @include background-color(#fff);
        z-index: 100;
        ul{
            @include rect(100%,100%);
            @include flexbox();
            li{
                @include flex();
                @include rect(auto, 100%);
                a{
                    @include text-color(#333);
                    @include rect(100%, 100%);
                    @include flexbox();
                    @include flex-direction(column);
                    @include justify-content();
                    @include align-items();
                    span{
                        @include font-size(0.22rem);
                    }
                    p{
                        @include font-size(0.12rem);
                    }
                    
                    &.active{
                        @include text-color(#f66);
                    }
                }
            }
        }
    }
}
