@import '~@/lib/reset.scss';
.homeheader{
    .search{
        @include background-color(#f5f5f5);
        @include border-radius(0.1rem);
        margin: 0.07rem 0 0.07rem 0;
        height: 0.3rem;
        padding-left: 0.1rem;
       a{
            width: 100%;
            color: #999;
       }
        i{
            margin-right: 0.05rem;
        }
    }
    .rightControl{
        .iconfont{
             @include font-size(0.24rem);
        }
    }
}


 .homeBanner{
    .space-carousel{
         padding: 16px;
          overflow: hidden;
    }
     
 }
 
.nav{
    @include rect(100%,1.57rem);
    .navigation{
        @include rect(100%,1.42rem);
        padding-bottom: 0.15rem;
        
        .ui-row{
            overflow: hidden;
           
            .li-row{
                width: 20%;
                height: 0.71rem;
                float: left;
                @include text-align();
                text-align: center;
                a{
                    color: #999;
                    font-size: 11px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    img{
                        width: 0.36rem;
                        height: 0.36rem;
                        display: block;
                      margin: 15px auto 6px;
                    }
                    span{
                        display: block;
                        width: 100%;
                        height: 0.16rem;
                        display: block;
                        text-align: center;
                    }
                }
                
            }
        }
    }
}
.headlines{
    @include rect(100%,0.62rem);
    .hotImg{
        padding-right: 0.15rem;
        margin: 0.15rem;
        border-right: 1px solid #e5e5e5;
        float: left;
        display: inline-block;
    }
    .cnt{
        margin: 15px 20px 13px 80px;
        height: 34px;
        padding-top: 0.1rem;
        font-size: 12px;
        .my-carousel .v-item {
              height: 36px;
              line-height: 36px;
              padding-left: 10px;
              a{
                  color:#333;
              }
            }
       .list{
           height:0.34rem;
           i{
               @include rect(0.15rem,0.14rem);
               color: orange;
               font-size: 16px;
               margin-right: 0.07rem;
           }
           
       }
    }
}
.image-map img{
    width: 100%;
    height: 33px;
}
.image-map1 {
    a{
        text-align: auto;
    }

    img{
        @include rect(100%,1.6rem);
        overflow: auto;
        text-align: center;
        display: block;
        
    }
 }
 
.cube-wrapper{
    @include rect(100%,1.22rem);
    .cube-item{
        float: left;
        width: 50%;
        img{
            width: 100%;
            height: 100%;
            display: block;
        }
    }
   
}

.prod-list{
    min-height: 5.8rem;
    overflow: hidden;
    padding: 0 6px 0 15px;
    background: #f5f5f5;
   .wrap{
       position: relative;
        float: left;
        width: 50%;
        margin-bottom: 4px;
        box-sizing: border-box;
        padding: 9px 9px 0 0;
        .item{
            display: block;
            padding-bottom: 20px;
            background-color: #fff;
            .prod-img{
                 padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 15px;
                img{
                    width: 96%;
                    margin-top: 2%;
                    margin-left: 2%;
                }
            }
            h5{
                margin: 5px 0;
                padding: 0 10px;
                color: #333;
                line-height: 18px;
                width: 245px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 170px;
            }
            .price{
                padding-left: 10px;
                padding-right: 10px;
                font-size: 16px;
                line-height: 18px;
                height: 20px;
                padding-top: 6px;
                color: #ff6900;
            }
            .add-to-cart{
                position: absolute;
                right: 15px;
                bottom: 10px;
                i{
                    width: 22px;
                    height: 22px;
                    font-size: 24px;
                    color: orange;

                }
            }
        }
    }
}
.content{
    li{
        padding:0;
    }
}